<!-- footer for all the pages -->

     <footer>
      <nav class="navbar bottom navbar-dark" style="background-color:transparent;">
        <p>&copy; Copyright 2021. All Rights Reserved.</p>
      </nav>
    </footer>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script> 
    <script src="/Scripts/app.js"></script>
  </body>
</html>