<link rel='stylesheet' href='/Content/projects_page.css' />

<div class="head">
  <h1>Projects</h1>
  <p>Some information about who I am and what I do.</p>
</div>
<br>
<br>
<div class="container marketing" id="obj">
    <div class="row" style="margin: auto;">
      <div class="col-lg-3">
        <img class = "bd-placeholder-img rounded-circle" width="140" height="140" src="/Assets/images/flood.jpg" >
        <h2>Flood Survivor Detection</h2>
        <p>Use thermal IR camera to detect human presence in flooded regions using cutting edge AI.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div>
      <div class="col-lg-3">
        <img class = "bd-placeholder-img rounded-circle" width="140" height="140" src="/Assets/images/tf.jpeg" >

        <h2>Automatic Video Detection</h2>
        <p>An intelligent application to detect videos or movies and give users information using AI & ML</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div>
      <div class="col-lg-3">
        <img class = "bd-placeholder-img rounded-circle" width="140" height="140" src="/Assets/images/opencv.png" >
    
        <h2>Video Tagging Using ML</h2>
        <p>A complex ML algorithm to automatically detect videos from online sources such as YouTube and tag it based on classification. </p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div>
      <div class="col-lg-3">
        <img class = "bd-placeholder-img rounded-circle" width="140" height="140" src="/Assets/images/html.png" >

        <h2>Web Page For BleamTech</h2>
        <p>A live website developed for Bleam Technologies PVT LTD. </p>
        <p><a class="btn btn-secondary" href="http://www.bleamtech.com/">View details »</a></p>
      </div>
    </div>
</div>
<br>

