<link rel='stylesheet' href='/Content/services_page.css' />

<div class="services-section">
  <h2>SERVICES</h2>
  <p>WHAT I OFFER</p>
</div>
<div id="services" class="container-fluid text-center">
<br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="fab fa-app-store fa-7x logo-small"></span>
      <h4>POWER</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="fab fa-app-store fa-7x logo-small"></span>
      <h4>LOVE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="fab fa-app-store fa-7x logo-small"></span>
      <h4>JOB DONE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="fab fa-app-store fa-7x logo-small"></span>
      <h4>GREEN</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="fab fa-app-store fa-7x logo-small"></span>
      <h4>CERTIFIED</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="fab fa-app-store fa-7x logo-small"></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>
<br>