<link rel='stylesheet' href='/Content/services_page.css' />

<div class="services-section">
  <h2>SERVICES</h2>
  <p>WHAT I OFFER</p>
</div>
<div id="services" class="container-fluid text-center">
<br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="fab fa-app-store-ios fa-7x logo-small"></span>
      <h4>IOS APP DEVELOPMENT</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="fab fa-android fa-7x logo-small"></span>
      <h4>ANDROID APP DEVELOPMENT</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="fab fa-html5 fa-7x logo-small"></span>
      <h4>WEB DEVELOPMENT</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="fas fa-toolbox fa-7x logo-small"></span>
      <h4>ML & AI</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="fas fa-wifi fa-7x logo-small"></span>
      <h4>IOT</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="fas fa-gamepad fa-7x logo-small"></span>
      <h4 style="color:#303030;">GAME DEVELOPMENT</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>
<br>