<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel='stylesheet' href='/Content/style.css' />


    <%- include partials/main_nav.ejs %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js'"></script> 
    <script src="/Scripts/app.js"></script>
  </body>
</html>
